@charset "UTF-8";
/* stylelint-disable */
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a,
button,
input,
select,
textarea,
label,
summary {
  touch-action: manipulation;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select,
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
/* stylelint-enable */
:root {
  --body-color: #FFF;
  --text-color: #111;
  --link-color: #0074D9;
  --link-color-hover: #7FDBFF;
  --border-color: #AAA;
  --tap-highlight-color: rgba(0, 0, 0, 0.35);
  --highlight-color: #0074D9;
  --placeholder-txt: #B2B2B2;
}

:root {
  --font-size-xl: 2.75rem;
  --font-size-l: 2rem;
  --font-size-m: 1.5rem;
  --font-size-s: 1rem;
  --font-size-xs: 0.875rem;
}

html {
  font-size: 1em;
}

:root {
  --maxwidth: 90rem;
  --spacing-gutter: 0.625rem;
  --spacing-outer: 1.25rem;
}
@media (min-width: 30.0625em) {
  :root {
    --spacing-outer: 2rem;
  }
}
@media (min-width: 48.0625em) {
  :root {
    --spacing-outer: 2.75rem;
  }
}
@media (min-width: 60em) {
  :root {
    --spacing-outer: 3.5rem;
  }
}
@media (min-width: 80em) {
  :root {
    --spacing-outer: 4.375rem;
  }
}

html {
  background: var(--body-color);
  min-height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  background: var(--body-color);
  color: var(--text-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.container {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: var(--maxwidth);
  padding: 0 var(--spacing-outer);
}

.container--wide {
  max-width: var(--maxwidth-wide);
}

.container--narrow {
  max-width: var(--maxwidth-narrow);
}

[hidden] {
  display: none !important;
}

.is-hidden {
  display: none;
}

.is-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 60em) {
  .is-hidden-large {
    display: none;
  }
}

@media (max-width: 30em) {
  .is-visually-hidden-small {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

.text {
  font-size: var(--font-size-m);
}
.text > :last-child {
  margin-bottom: 0 !important;
}
.text h1 a,
.text h2 a,
.text h3 a,
.text h4 a,
.text h5 a,
.text h6 a {
  text-decoration: none;
}
.text h2 {
  font-size: var(--font-size-xl);
  margin: var(--v-spacing-xxl) 0 var(--v-spacing-l);
}
.text h3 {
  font-size: var(--font-size-l);
  margin-bottom: var(--v-spacing-xxs);
}
.text h4 {
  font-size: var(--font-size-m);
}
.text ul,
.text ol {
  counter-reset: li;
  margin: 0 0 1.5em 1.75em;
}
.text ul ul,
.text ul ol,
.text ol ul,
.text ol ol {
  margin-bottom: 0;
}
.text li {
  position: relative;
}
.text li::before {
  padding-right: 0.5em;
  position: absolute;
  right: 100%;
  text-align: right;
}
.text ul > li::before {
  content: "•";
}
.text ol > li::before {
  content: counter(li) ".";
  counter-increment: li;
}
.text blockquote > :last-child {
  margin-bottom: 0 !important;
}
.text table {
  border-collapse: collapse;
  border-spacing: 0;
}
.text th,
.text td {
  padding: 0;
  text-align: left;
}

.text > :first-child {
  margin-top: 0 !important;
}

.text .multimedia {
  margin: 3em 0;
}

a {
  color: var(--link-color);
  transition: color 0.3s ease-in-out;
}

a:hover,
a:focus {
  color: var(--link-color-hover);
}

body {
  -webkit-tap-highlight-color: var(--tap-highlight-color);
}

img {
  font-style: italic;
  vertical-align: middle;
  width: 100%;
}

.img--natural {
  width: auto;
}

.img--title {
  height: 1em;
  width: auto;
  vertical-align: top;
}

button,
[role=button],
.btn {
  background-color: var(--text-color);
  border: 1px solid transparent;
  border-radius: 3px;
  color: var(--body-color);
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size-l);
  outline: 0;
  padding: 1em 3em;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
}

button.is-active,
[role=button].is-active,
.btn.is-active {
  background-color: var(--text-color);
  border-color: transparent;
  color: var(--body-color);
  opacity: 0.75;
}

button:hover,
[role=button]:hover,
.btn:hover,
button:focus,
[role=button]:focus,
.btn:focus {
  background-color: var(--body-color);
  border-color: var(--text-color);
  color: var(--text-color);
  opacity: 0.85;
}

.btn--large {
  font-size: var(--font-size-l);
}

.btn--inline {
  font-size: 1em;
  padding: 0.25em 0.75em;
}

.btn--block {
  display: block;
  padding-left: var(--spacing-gutter);
  padding-right: var(--spacing-gutter);
  text-align: center;
  width: 100%;
}

.skipnav {
  font-size: 14px;
  left: 1.2em;
  opacity: 0;
  padding: 0.5em 1.2em;
  position: fixed;
  text-decoration: none;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, opacity 0s linear 0.3s;
  width: auto;
  z-index: 690;
}

.skipnav:hover,
.skipnav:focus {
  opacity: 1;
  outline: none;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.section {
  margin: 0 0;
  padding: var(--spacing-outer) 0;
}

.section:first-child {
  margin-top: 0;
}

.section:last-child {
  margin-bottom: 0;
}

.section--large {
  padding: var(--spacing-outer-l) 0;
}

.section--flush {
  padding: 0;
}

.section--black {
  background-color: #111;
  color: #FFF;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.modal__overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 900;
}

.modal__container {
  background-color: var(--body-color);
  border-radius: 3px;
  max-height: 100vh;
  max-width: 31.25rem;
  overflow-y: auto;
  padding: var(--spacing-gutter);
}

.modal__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.modal__title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: color("blue");
  font-size: var(--font-size-l);
  font-weight: bold;
}

.modal__close {
  background: transparent;
  border: 0;
  color: color("blue");
  cursor: pointer;
}

.modal__header .modal__close::before {
  content: "✕";
}

.modal__content {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
  margin: var(--spacing-m) 0;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal--slide .modal__container,
.modal--slide .modal__overlay {
  will-change: transform;
}

.modal--slide[aria-hidden=false] .modal__overlay {
  animation: fade-in 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal--slide[aria-hidden=false] .modal__container {
  animation: slide-in 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal--slide[aria-hidden=true] .modal__overlay {
  animation: fade-out 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal--slide[aria-hidden=true] .modal__container {
  animation: slide-out 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.multimedia {
  position: relative;
  width: 100%;
}

.multimedia::before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: 56.25%;
}

.multimedia embed,
.multimedia object,
.multimedia video,
.multimedia iframe {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  margin: 0 !important;
  padding: 0;
}

.multimedia--standard::before {
  padding-bottom: 75%;
}

.multimedia--standard::before {
  padding-bottom: 75%;
}

.stack > * + * {
  margin-top: 40px;
}

/*# sourceMappingURL=screen.css.map */