@use 'lib/spacing';
@use '_3_elements/text/headings';
@use '_3_elements/text/lists';
@use '_3_elements/text/quotes';
@use '_3_elements/text/tables';




//   @text
// --------------------------------------------------------
//
//  Scoping text element styles so we aren't fighting
//  specificity.
//
//  See http://guerillalabs.co/blog/styling-text-elements.html
//
// --------------------------------------------------------
.text {
    font-size: var(--font-size-m);

    @include spacing.margin-container;

    @include headings.headings;

    @include lists.lists;

    @include quotes.quotes;

    @include tables.tables;
}

.text > :first-child {
    margin-top: 0 !important;
}

.text .multimedia {
    margin: 3em 0;
}
