@use 'lib/colors' as *;




.section--large {
    padding: var(--spacing-outer-l) 0;
}

.section--flush {
    padding: 0;
}

.section--black {
    background-color: color('black');
    color: color('white');
}
