@use '_4_modules/modal/settings' as *;
@use 'lib/zindex' as *;
@use 'lib/animations/fade-in';
@use 'lib/animations/fade-out';
@use 'lib/animations/slide-in';
@use 'lib/animations/slide-out';

$modal-title-weight: normal !default;

//
//   @modals
// --------------------------------------------------------
//
// Expect https://micromodal.now.sh/ for functionality.
//
// Expects the following html (see https://gist.github.com/ghosh/4f94cf497d7090359a5c9f81caf60699):
//
// <div class="modal modal--slide" id="this-modal" aria-hidden="true">
//     <div class="modal__overlay" tabindex="-1" data-micromodal-close>
//         <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="withdrawal-modal-title">
//             <header class="modal__header">
//                 <h2 class="modal__title" id="withdrawal-modal-title">
//                     Modal Title
//                 </h2>
//
//                 <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
//             </header>
//
//             <div class="modal__content" id="withdrawal-modal-content">
//
//                 <!-- modal content goes here -->
//                 <button type="button" aria-label="Close modal" data-micromodal-close>Cancel</button>
//
//             </div>
//         </div>
//     </div>
// </div>
//
// --------------------------------------------------------

.modal__overlay {
    align-items: center;
    background: $modal-overlay-color;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: zindex('modal');
}

.modal__container {
    background-color: $modal-background-color;
    border-radius: $modal-border-radius;
    max-height: 100vh;
    max-width: $modal-max-width;
    overflow-y: auto;
    padding: $modal-padding;
}

.modal__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.modal__title {
    @include modal-title;

    color: $modal-title-color;
    font-size: $modal-title-font-size;
    font-weight: $modal-title-weight;
}

.modal__close {
    background: transparent;
    border: 0;
    color: $modal-close-color;
    cursor: pointer;
}

.modal__header .modal__close::before {
    content: '\2715';
}

.modal__content {
    @include modal-content;

    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
    margin: var(--space-m) 0;
}



.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal--slide .modal__container,
.modal--slide .modal__overlay {
  will-change: transform;
}

.modal--slide[aria-hidden='false'] .modal__overlay {
  animation: fade-in 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal--slide[aria-hidden='false'] .modal__container {
  animation: slide-in 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal--slide[aria-hidden='true'] .modal__overlay {
  animation: fade-out 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal--slide[aria-hidden='true'] .modal__container {
  animation: slide-out 0.3s cubic-bezier(0, 0, 0.2, 1);
}
