$test: 1px;

button,
[role='button'],
.btn {
    // background-color: $text-color;
    border: 0;

    // border-radius: $border-radius;
    // color: $body-color;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    padding: 1em 3em;
    position: relative;
    text-align: center;
    text-decoration: none;

    // transition: all $speed $ease;
    vertical-align: middle;
}
