@use 'lib/colors' as *;
@use 'config/transitions' as *;

//
//   @links
// --------------------------------------------------------
//
//  Links, <a> etc.
//  & Webkit tap highlight
//
//  Example: link
//  <p>Lorem Ipsum is simply <a href="#">dummy text</a> of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
//
// --------------------------------------------------------


//
//   @anchors
// --------------------------------------------------------
//
//  Anchors will have this base styling
//
// --------------------------------------------------------
a {
    color: var(--link-color);
    transition: color $speed $ease;
}

a:hover,
a:focus {
    color: var(--link-color-hover);
}




//
//   @webkit-tap-highlight
// --------------------------------------------------------
//
//  Declare the webkit tap highlight style
//
// --------------------------------------------------------
body {
    -webkit-tap-highlight-color: var(--tap-highlight-color);
}
