@use 'lib/colors' as *;

//
//   @forms
// ---------------------------------------------------------
//
//  Base styles for all forms and form related elements
//
//  Below you'll set styles for all forms, and if you have
//  any specific kinds of forms, like a search form that you
//  create a classname of form--search, put that at the
//  bottom of this partial.
//
// ---------------------------------------------------------
//
//  Here's an example form, forms consist of
//  - header
//  - fields
//  - action
//
//  Example: Our Form
//  <form>
//    <header>
//      <h1>Super cool form, we love it</h1>
//    </header>
//    <article class="field">
//      <p>Here is some intro text of this field before the actual input</p>
//      <div class="field__input">
//        <label class="input__label">Your Name</label>
//        <input type="text">
//      </div>
//      <span class="field__feedback"></span>
//      <span class="field__hint"></span>
//    </article>
//    <article class="field">
//      <p class="field__text">Here is some intro text of this field</p>
//      <div class="field__input">
//        <label class="input__label">Your Email</label>
//        <input type="email">
//      </div>
//      <span class="field__feedback"></span>
//      <span class="field__hint"></span>
//    </article>
//    <footer class="action">
//      <input type="submit" class="btn" value="Submit">
//    </footer>
//  </form>
//
// -------------------------------------------------------

// form {
// }

//
//   @form-header
// --------------------------------------------------------
//
//  A form header usually consists of a title and some
//  copy.
//
// --------------------------------------------------------

// any base styling on form headers
// .form__header {
//
// }

//
//   @field
// --------------------------------------------------------
//
// A field is an article that contains the input and anything
// related to the input.
//
// --------------------------------------------------------
.field {
    position: relative;
}

//
//   @field__input
// --------------------------------------------------------
//
//  The div surrounding inputs
//
// --------------------------------------------------------

// .field__input {
//
// }

//
//   @inputs
// --------------------------------------------------------
//
//  The inputs
//
// --------------------------------------------------------
input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='number'],
input[type='datetime'],
input[type='date'],
input[type='tel'],
input[type='month'],
input[type='week'],
input[type='search'],
textarea,
select {
    -webkit-appearance: none;
    width: 100%;
}

// @radios
input[type='radio'] {
    -webkit-appearance: none;
    border: 2px solid color('white');
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
}

input[type='radio']:checked {
    background: color('white');
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='number']:focus,
input[type='datetime']:focus,
input[type='date']:focus,
input[type='tel']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='search']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus,
textarea:focus,
select:focus {
    outline: 0;
}

//
//   @placeholders
// --------------------------------------------------------
//
//  The placeholders
//
// --------------------------------------------------------
input::placeholder {
    color: var(--placeholder-txt);
}

// Placeholders on focus
input:focus::placeholder {
    opacity: 0.3;
}

//
//   @field__label
// --------------------------------------------------------
//
//  labels
//
// --------------------------------------------------------
.field__label {
    display: block;
}

// labels for checkboxes and radios
.field__label--radio {
    cursor: pointer;
    display: block;
    position: relative;
}

.field__label--radio .radio__text {
    margin-left: rem(32);
    overflow: hidden;
}

.field__label--radio input {
    left: 0;
    position: absolute;
    top: 0;
}

//
//   @field__feedback
// --------------------------------------------------------
//
//  Here's a little feedback
//
// --------------------------------------------------------
.field__feedback {
    color: rgba(218, 35, 0, 0.6);
    display: none;
    position: absolute;
    right: 0;
}

//
//   @field__hint
// --------------------------------------------------------
//
//  hints
//
// --------------------------------------------------------
.field__hint {
    color: rgba(218, 35, 0, 0.6);
    display: none;
    position: absolute;
    right: 0;
}

//
//   @error-states
// --------------------------------------------------------
//
//  .field.is-error
//
// --------------------------------------------------------
.is-error .field__feedback {
    display: block;
}

.is-error input {
    border: 1px solid rgba(218, 35, 0, 0.3);
}

//
//   @field__input--list
// --------------------------------------------------------
//
//  block list containing radio labels
//
// --------------------------------------------------------
.field__input--list {
    display: block;
    margin: 0;
    padding: 0;
}

.field__input--list li {
    display: block;
    list-style-type: none;
}

//
//   @action
// ---------------------------------------------------------
//
//   Each form has an action section at the bottom to
//   submit the form
//
// ---------------------------------------------------------

// .action {
// }

//
//   TYPES OF FORMS
//
//   @form--search
// ---------------------------------------------------------
.form--search {
    width: 7.2em;
}

.form--search input[type='search'] {
    background-position: 5% 50%;
    background-repeat: no-repeat;
    background-size: auto 60%;
    border-radius: 0.625em;
    padding: 0.44em 0.3125em 0.35em 1.75em;
}
