@use 'config/borders' as *;
@use 'lib/units' as *;
@use 'config/fonts' as *;

$modal-overlay-color: rgba(0, 0, 0, 0.6);
$modal-background-color: var(--color-body);

$modal-border-radius: $border-radius;
$modal-max-width: rem(500);
$modal-padding: var(--spacing-gutter);

$modal-title-color: color('blue');
$modal-title-font-size: var(--font-size-l);
$modal-title-weight: bold;

@mixin modal-title {
    @include sans;

    letter-spacing: 0.05em;
    text-transform: uppercase;
}

$modal-close-color: color('blue');

$modal-content-color: color('black');
$modal-content-margin: var(--spacing-gutter);

@mixin modal-content {
    @include sans;
}
